Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
    1. First get the webpage https://www.shine.com/
    2. Enter “Data Analyst” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.

In [1]:
# importing the necessary libraries
import selenium   
import re
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# setting up the browser
driver = webdriver.Chrome()  

# website url to open the page
driver.get("https://www.shine.com/") 

# click the search field
search = driver.find_element(By.CLASS_NAME,"iconH-zoom-white") 
search.click()

# delay the instructions for 1 sec, so the page can be loaded
time.sleep(1) 

# search field path specified
designation = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")

# providing the search data to the search field
designation.send_keys('Data Analyst') 

#location field path specified
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")

# providing the location
location.send_keys('Bangalore') 

# search button class name specified.
sjob = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN") 

# click the search button
sjob.click() 

# variables declared 
jobtitle=[]  
jloc = []
company_name = []
exp_req = []

# scraping the tittle from the web page
title = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]') 

# storing the text in a list
for i in title:
    jobtitle.append(i.text)  

# scraping the location from the web page
location = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')

# storing the location in a list
for l in location:
    patt = re.compile(r'[a-zA-Z]+')  # filtering the unwanted data
    loc = patt.findall(l.text)
    jloc.append(loc)
    
# scraping company name for the web page    
cname = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')

# storing the company name in a list
for c in cname:
    company_name.append(c.text)
    
# scraping the exprience required from the web page    
reqe = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]') 

# storing exprience required in a list
for r in reqe:
    exp_req.append(r.text)
    
# closing the browser    
driver.quit()  

# creating Data Frame object and displaying the data 
df= pd.DataFrame({"Job Title":jobtitle[0:10],"Job Location":jloc[0:10],"Company Name":company_name[0:10],"Experience Required":exp_req[0:10]})
df

,Job Title,Job Location,Company Name,Experience Required
0,Lead Data Analyst,[Bangalore],ara resources private limited,4 to 9 Yrs
1,Data Analyst,[Bangalore],diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,[Bangalore],yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,[Bangalore],techno endura,0 to 1 Yr
4,Data Modeler data,[Bangalore],boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeller,[Bangalore],boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler Bangalore,[Bangalore],boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler,[Bangalore],boyen haddin consulting and technol...,3 to 6 Yrs
8,Clinical Data Analyst,[Bangalore],quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,[Bangalore],kavya interprises,0 to 4 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
    1. First get the webpage https://www.shine.com/
    2. Enter “Data Scientist” in “Job title, Skills” field and enter “Bangalore” in “enter the location” field.
    3. Then click the search button.
    4. Then scrape the data for the first 10 jobs results you get.
    5. Finally create a dataframe of the scraped data.

In [24]:
# importing the necessary libraries
import selenium
import re
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# defining driver and web browser
driver = webdriver.Chrome()

# Pharsing wedsite link 
driver.get("https://www.shine.com/")

#searching the search button and clicking it
search = driver.find_element(By.CLASS_NAME,"iconH-zoom-white")
search.click()

# delay for 1 second, so the data can be loaded
time.sleep(1)

# Entering the search catogery in search field
designation = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

# Entering location in the field
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

# delay for 1 second, for data to load
time.sleep(1)

# clicking the search button
sjob = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
sjob.click()

# defining variables 
jobtitle=[]
jloc = []
company_name = []
exp_req = []

# scraping job title and storing in list
title = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title:
    jobtitle.append(i.text)
    
# scraping job location and storing in list    
location = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for l in location:
    patt = re.compile(r'[a-zA-Z]+') # filtering unwanted data
    loc = patt.findall(l.text)
    jloc.append(loc)

# scraping company name and storing in list
cname = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for c in cname:
    company_name.append(c.text)
    
# scraping required exprience and storing in list    
reqe = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]') 
for r in reqe:
    exp_req.append(r.text)
    
#driver.quit()

# creating data frame and displaying data
df= pd.DataFrame({"Job Title":jobtitle[0:10],"Job Location":jloc[0:10],"Company Name":company_name[0:10],"Experience Required":exp_req[0:10]})
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist,[Bangalore],acme services private limited,3 to 5 Yrs
1,Data Scientist,[Bangalore],ltimindtree limited,6 to 8 Yrs
2,Lead Data Scientist/ Principal Data Scientist,[Bangalore],fractal,5 to 9 Yrs
3,Vacancy For Data Scientist Fresher and Experience,[Bangalore],yogita staffing solution,0 to 3 Yrs
4,Senior Data Scientist,[Bangalore],neostats,7 to 11 Yrs
5,Lead Data Scientist,[Bangalore],aereo,7 to 10 Yrs
6,Data Scientist,[Bangalore],people staffing solutions,4 to 9 Yrs
7,Data Scientist Urgent Vacancy,[Bangalore],yogita staffing solution,0 to 3 Yrs
8,Data Scientist,[Bangalore],diraa hr services,0 to 4 Yrs
9,Pharma Data Scientist,[Bangalore],quiscon biotech,0 to 1 Yr

Q3: In this question you have to scrape data using the filters available on the webpage
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
    1. first get the web page https://www.shine.com/
    2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
    3. Then click the search button.
    4. Then apply the location filter and salary filter by checking the respective boxes
    5. Then scrape the data for the first 10 jobs results you get.
    6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [12]:
# importing the necessary libraries
import selenium
import re
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# defining driver and web browser, pharsing the web link
driver = webdriver.Chrome()
driver.get("https://www.shine.com/")

# maximize window
driver.maximize_window()

#searching the search button and clicking it
search = driver.find_element(By.CLASS_NAME,"iconH-zoom-white")
search.click()

# delay for 1 second,so the data can be loaded
time.sleep(1)

# Entering the search data in search field
designation = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

# focus on search icon and clicking it
sjob = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
sjob.click()

# delay for 1 second,so the data can be loaded
time.sleep(1)

# clicking the location filter
loc_fil = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button')
loc_fil.click()

# delay for 1 second,so the data can be loaded
time.sleep(1)

# selection the location from the filter
select_loc = driver.find_elements(By.CLASS_NAME,"filter_filter_option_item__bvdpQ")
select_loc[10].click()
select_loc[12].click()
select_loc[30].click()

# delay for 1 second,so the data can be loaded
time.sleep(1)

# click search after updating all the data
result_loc = driver.find_element(By.XPATH,"/html/body/div[2]/div/div/div/div[4]/button[2]")
result_loc.click()

# delay for 2 second,so the data can be loaded
time.sleep(2)

# defining variables
jt = []
jl = []
cn = []
er = []

# scraping job title, storing in list
title = driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in title:
    jt.append(i.text)
    
# scraping job location, storing in list    
location = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for l in location:
    patt = re.compile(r'[a-zA-Z]+')
    loc = patt.findall(l.text)
    jl.append(loc)
    
#scraping company name, storing in the list    
cname = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for c in cname:
    cn.append(c.text)
    
#scraping required exprience, storing in the list    
reqe = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]') 
for r in reqe:
    er.append(r.text)

# closing the browser    
driver.quit()

# creating data frame and displaying top 10 data
df= pd.DataFrame({"Job Title":jt[0:10],"Job Location":jl[0:10],"Company Name":cn[0:10],"Experience Required":er[0:10]})
df

,Job Title,Job Location,Company Name,Experience Required
0,Data Scientist Recruitment,"[Saudi, Arabia]",renuka interprises,0 to 4 Yrs
1,Data Scientist Recruitment,"[Saudi, Arabia]",renuka interprises,0 to 4 Yrs
2,Data Scientist Recruitment,"[Saudi, Arabia]",renuka interprises,0 to 4 Yrs
3,DATA SCIENTIST,"[Other, Gujarat]",ironlist,2 to 6 Yrs
4,Data Scientist,[Noida],thescholarhat,1 to 3 Yrs
5,Data Scientist,"[Other, Gujarat]",coretus technologies,3 to 5 Yrs
6,Python Data Scientist,[Noida],buddy4study,4 to 8 Yrs
7,Senior/Lead Data Scientist- Noida/Bangalore/Hy...,[Noida],techneplus,3 to 8 Yrs
8,Hiring For Data Scientist,"[Saudi, Arabia]",renuka interprises,0 to 4 Yrs
9,Hiring For Data Scientist,"[Saudi, Arabia]",renuka interprises,0 to 4 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
    6. Brand
    7. Product Description
    8. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
    1. Go to Flipkart webpage by url : https://www.flipkart.com/
    2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
    3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.

In [13]:
# importing the necessary libraries
import selenium
import re
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# function for scraping brand and storing in list
def brand_search():
    time.sleep(2)
    brand=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for b in brand:
        s_brand.append(b.text)

# function for scraping brand information and storing in the list        
def brand_information():
    time.sleep(2)
    info = driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for i in info:
        brand_info.append(i.text)
        
# scraping product price and storing in list        
def product_price():
    time.sleep(2)
    pprice = driver.find_elements(By.CLASS_NAME,"_30jeq3")
    for p in pprice:
        prod_price.append(p.text)
        
    
# variable defined
s_brand = []
brand_info = []
prod_price = []

# browser defiend, pharsing the weblink 
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/")

driver.maximize_window()

# delay for 2 second,so the data can be loaded
time.sleep(2)

# Providing data to search field
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search.send_keys("sunglasses")

# clicking the search icon
click_search = driver.find_element(By.CLASS_NAME,"_2iLD__")
click_search.click()

# calling the functions
brand_search()
brand_information()
product_price()

#brand=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
#time.sleep(2)
#for b in brand:
    #s_brand.append(b.text)

# click next to go to next page    
next_page= driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_page.click()
#calling functions
brand_search()
brand_information()
product_price()

# moving to next page
next_page.click()

# calling functions
brand_search()
brand_information()
product_price()

#closing browser
driver.quit()

# creating data frame and displaying the data
df=pd.DataFrame({"Product Name":s_brand[0:100],"Product Description":brand_info[0:100],"Product Price":prod_price[0:100]})
df

,Product Name,Product Description,Product Price
0,Hooper,"Polarized, UV Protection Wayfarer Sunglasses (47)",₹599
1,Eyewearlabs,"Polarized, UV Protection Rectangular Sunglasse...","₹2,199"
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149
3,Elligator,UV Protection Retro Square Sunglasses (54),₹149
4,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",₹499
...,...,...,...
95,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹594
96,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹559
97,ROYAL SON,Polarized Rectangular Sunglasses (56),"₹1,247"
98,Elgator,"UV Protection Aviator, Wayfarer Sunglasses (55)",₹291
99,ROYAL SON,Polarized Rectangular Sunglasses (60),₹643

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART
As shown in the above page you have to scrape the tick marked attributes. These are:
    1. Rating
    2. Review summary
    3. Full review
    4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [15]:
# importing the necessary libraries
import selenium
import re
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# defining url
url='https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART'

# variable defiened
rating = []
summary = []
full_review = []
counter = 0

# function to scrap data (rating,summary, full review)
def getdata():
    prat = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for r in prat:
        rating.append(r.text)
        
    rsumm = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for s in rsumm:
        summary.append(s.text)
        
    freview = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for v in freview:
        full_review.append(v.text)

# defining driver and web browser
driver = webdriver.Chrome()
driver.get(url)

# delay for 1 second,so the data can be loaded
time.sleep(1)

# looping the program till the count is less than 100
while counter <= 100:
    next_page = driver.find_element(By.CLASS_NAME,'_1LKTO3')
    next_page.click()
    time.sleep(1)
    getdata()
    counter = len(rating)

# closing the browser
driver.quit()    
   
# creating data frame and displaying the data    
df=pd.DataFrame({"Rating":rating[0:100]," Rating Review Summary":summary[0:100],"Full Review":full_review[0:100]})   

# adding heading to index
df.index.name = 'S.No'
df

,Rating,Rating Review Summary,Full Review
S.No,,,
0,5,Fabulous!,Super🔥 and good performance 👌❤️
1,5,Brilliant,Excellent Phone.
2,5,Brilliant,very good camera quality
3,5,Excellent,NYC
4,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
...,...,...,...
95,5,Terrific purchase,Value for money 😍
96,5,Perfect product!,Photos super
97,5,Perfect product!,V Good all
98,5,Just wow!,Perfect Product!!
99,5,Must buy!,It’s really awesome

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 3 attributes of each sneaker:
    1. Brand
    2. Product Description
    3. Price

In [16]:
# importing the necessary libraries
import selenium
import re
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# defining url
url = "https://www.flipkart.com/"

# variable defined
brand = []
prod_desc =[]
price =[]
count = 0

# function to scrap brand, store in list
def get_brand_data():
    time.sleep(1)
    prod_brand = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for b in prod_brand:
        brand.append(b.text)
        
# function to scrap product description, store in list
def get_prod_desc():
    time.sleep(1)
    prodde = driver.find_elements(By.CLASS_NAME,'IRpwTa')
    for p in prodde:
        prod_desc.append(p.text)

# function to scrap product price, store in list
def get_prod_price():
    time.sleep(1)
    pprice = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for r in pprice:
        price.append(r.text)

# defining driver and web browser       
driver = webdriver.Chrome()
driver.get(url)

# delay for 1 second,so the data can be loaded
time.sleep(1)

# locating the search field and entering the data
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search.send_keys('sneakers')

#locating the search icon and clicking it
search_click = driver.find_element(By.CLASS_NAME,'_2iLD__')
search_click.click()

driver.maximize_window()

# looping the program till the count is less or equal to 100, callin function and moving to next page
while count <= 100:
    get_brand_data()
    get_prod_desc()
    get_prod_price()
    next = driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next.click()
    count = len(brand)

# closing browser    
driver.quit()
    
# creating data frame and displaying the data    
df = pd.DataFrame({"Brand Name":brand[0:100],"Product Description":prod_desc[0:100],"Product Price":price[0:100]})
df.index.name = "S.No"
df

,Brand Name,Product Description,Product Price
S.No,,,
0,aadi,Sneakers For Men,₹349
1,aadi,"Lightweight,Comfort,Summer,Trendy,Walking,Outd...",₹249
2,PUMA,Platform Snake Lux Wn's Sneakers For Women,"₹4,799"
3,U.S. POLO ASSN.,Sneakers For Men,"₹4,799"
4,PUMA,Graviton Pro Sneakers For Men,"₹3,150"
...,...,...,...
95,PUMA,Future Rider Concrete Jungle Sneakers For Men,"₹3,378"
96,METRO,Mocassin For Men,"₹1,609"
97,Neeman's,Dress Sneakers Sneakers For Men,"₹3,019"
98,PUMA,Morgan SL V1 Sneakers For Men,"₹1,935"
99,PUMA,Club 5v5 SD Sneakers For Men,"₹2,594"

Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
    1. Title
    2. Ratings
    3. Price
    
# unable to click the processor filter - Intel Core i7, still working on it

In [22]:
import selenium
import re
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

url = "https://www.amazon.in/"
title = []
ratings =[]
price =[]
laptopf = []
# count = 0

driver = webdriver.Chrome()
driver.get(url)
driver.maximize_window()

search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

search_click = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_click.click() 

time.sleep(2)

#WebDriverWait(driver,2).until(EC.presence_of_element_located((By.XPATH,'//i[@class="a-icon a-icon-checkbox"]')))

#filter_laptop = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]')

filter_laptop = driver.find_element(By.XPATH,'//span[@data-csa-c-content-id="p_n_feature_thirteen_browse-bin/12598163031"]')
time.sleep(2)
filter_laptop.click()
print(filter_laptop.text)

Intel Core i7

Q8 Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
    1. First get the webpagehttps://www.azquotes.com/
    2. Click on Top Quotes
    3. Than scrap 
            a) Quote 
            b) Author 
            c) Type Of Quotes

In [19]:
# importing the necessary libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

# defining weblink
url = "https://www.azquotes.com/"

# defining variables
search_quotes = []
search_author = []
type_of_quote = []
count = 0

# defining driver and web browser
driver = webdriver.Chrome()
driver.get(url)
driver.maximize_window()

# locationg the top quotes and clicking it
top_quotes = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

# looping the program to run till the count is less than 1000, scraping the data
while count < 1000:
    WebDriverWait(driver,2).until(EC.presence_of_element_located((By.XPATH,'//a[@class="title"]'))) # wait till XPATH found
    quote = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for q in quote:
        search_quotes.append(q.text)
    
    author = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for a in author:
        search_author.append(a.text)
    
    quote_type = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for t in quote_type:
        type_of_quote.append(t.text)
    
    next_page = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_page.click()
    count = len(search_quotes)  
    
# creating data frame and displaying the data    
df = pd.DataFrame({"Quote":search_quotes,"Author":search_author,"Type Of Quote":type_of_quote})
df.index.name = "S.No"

# closing browser
driver.quit()
df

,Quote,Author,Type Of Quote
S.No,,,
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Q9: Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
    1. First get the webpagehttps://www.jagranjosh.com/
    2. Then You have to click on the GK option
    3. Then click on the List of all Prime Ministers of India
    4. Then scrap the mentioned data and make theDataFrame.
    
 # still trying to figure out, how to get data from the table, website changed the links

In [11]:
import selenium
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

url = "https://www.jagranjosh.com/"

driver = webdriver.Chrome()
driver.get(url)
driver.maximize_window()
table_data = []
row_data = []

time.sleep(2)

opt_gk = driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
opt_gk.click()

time.sleep(5)

# WebDriverWait(driver,5).until(EC.presence_of_element_located((By.XPATH,'//*[@id="__next"]/div[8]/section[5]/div[2]/ul/li[1]/article/h3/a')))

#opt_pm = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div[1]/div/div')
#opt_pm.click()

#time.sleep(3)
#url = opt_pm.get_attribute('href')
#df.pd.read_html(url)

    
    
    
# table = driver.find_element(By.XPATH,'//div[@class="TableData"]/table')
# rows = table.find_elements(By.TAG_NAME,'td')
# for r in rows:
#    row_data.append(r.text)
    
# print(row_data[1])

Q10: Write a python program to display list of 50 Most expensive cars in the world (i.e. Car name and Price) from https://www.motor1.com/
This task will be done in following steps:
    1. First get the webpage https://www.motor1.com/
    2. Then You have to type in the search bar ’50 most expensive cars’
    3. Then click on 50 most expensive cars in the world..
    4. Then scrap the mentioned data and make the dataframe.
    
# unable to find XPATH, still working on this

In [21]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time

driver = webdriver.Chrome()
driver.get('https://www.motor1.com/')

search_opt = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search_opt.send_keys('50 most expensive cars')

# click_opt = driver.find_element(By.XPATH,'//button[@class="m1-search-form-button-animate icon-search-svg m1-mobile-search"]')
# click_opt.click()
# driver.quit()

WebDriverException: Message: unknown error: cannot determine loading status
from disconnected: unable to send message to renderer
  (Session info: chrome=120.0.6099.227)
Stacktrace:
	GetHandleVerifier [0x00007FF6D79D2142+3514994]
	(No symbol) [0x00007FF6D75F0CE2]
	(No symbol) [0x00007FF6D74976AA]
	(No symbol) [0x00007FF6D747EB20]
	(No symbol) [0x00007FF6D747F7CE]
	(No symbol) [0x00007FF6D748DC02]
	(No symbol) [0x00007FF6D74A4471]
	(No symbol) [0x00007FF6D74A937A]
	(No symbol) [0x00007FF6D747FEC6]
	(No symbol) [0x00007FF6D74A40AD]
	(No symbol) [0x00007FF6D7522AEF]
	(No symbol) [0x00007FF6D7505D93]
	(No symbol) [0x00007FF6D74D4BDC]
	(No symbol) [0x00007FF6D74D5C64]
	GetHandleVerifier [0x00007FF6D79FE16B+3695259]
	GetHandleVerifier [0x00007FF6D7A56737+4057191]
	GetHandleVerifier [0x00007FF6D7A4E4E3+4023827]
	GetHandleVerifier [0x00007FF6D77204F9+689705]
	(No symbol) [0x00007FF6D75FC048]
	(No symbol) [0x00007FF6D75F8044]
	(No symbol) [0x00007FF6D75F81C9]
	(No symbol) [0x00007FF6D75E88C4]
	BaseThreadInitThunk [0x00007FF8B816257D+29]
	RtlUserThreadStart [0x00007FF8B9C0AA58+40]